.feedtitle {
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    font-size: 60px;
    color: white;
}

.post-title {
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    color: black;
}

#home,
#feed,
#authors,
#aboutus {
    color: black;
}

.postlink {
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    text-decoration: none;
    color: black;
}

.feedlist {
    background-color: black;
}

.postlink:hover {
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in;
    cursor: pointer;
}

.feeds-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

img.feed-image {
    width: auto;
    height: 200px;
    margin: auto;
}


/* delete-btn .delete-btn {
    margin-left: 20px;
} */

img.feed-image>h {
    color: black;
}

a.postlink {
    margin: 40px;
    width: 700px;
    height: fit-content;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    border: 1px solid gray;
}

#feedsdetails {
    align-items: left;
}

div.container {
    text-align: left;
}

#details-pic {
    height: 30px;
}


/* #post-details {
    display: flex;
    flex-wrap: wrap;
} */

#post-body {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    color: black;
}

#input {
    color: black;
}

#allposts {
    display: flex;
    justify-content: center;
}

#list {
    display: flex;
    flex-wrap: wrap;
}

#edit-form {
    justify-content: center;
    display: flex;
}

#authorsname {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

#authorname {
    padding: 120px;
}

.post-title {
    margin-top: 55px;
    margin-bottom: 30px;
}