.feedtitle {
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    font-size: 60px;
}

.feed-image {
    height: 250px;
    width: auto;
}

.feedlist,
.postlink {
    /* width: 70vw; */
    /* height: auto; */
    display: flex;
    flex-wrap: wrap;
    place-items: center;
    /* border-radius: 15px; */
    /* width: 300px;
    height: 400px; */
    margin: 20px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.feedlist:hover {
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in;
    cursor: pointer;
}

.user-list {
    display: flex;
    justify-content: space-around;
}